.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    border: 1px solid red;
}

.-blue {
    border: 1px solid blue;
}

.-green {
    border: 1px solid green;
}

.square {
    width: 50px;
    height: 50px;
}

.playerOne {
    display: none;
    position: relative;
}

.playerTwo {
    display: none;
    position: relative;
}

.btn-play {
    margin-top: 15%;
    margin-left: 45%;
}

.btn-play input {
    display: block;
    margin-bottom: 20px;
}

.btn-play button {
    padding: 20px 50px;
    background: transparent;
    border: 2px solid blue;
}
.btn-play button:hover {
    background: #e9e9e9;
}

.error-one {
    color: red;
}
.error-two {
    color: red;
}
